:root
{
    font-size: 62.5%;
    --Primary: #001219;
    --Secondary: #005F73;
    --Tertiary: #0A9396;
    --Light: #94D2BD;
    --Orange: #CA6702;
    --Red: #AE2012;
}

*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: var(--Primary);
}

body {
  overflow-x: hidden;
  position: relative;
  width: 42.8rem;
  height: 92.6rem;
  background: var(--Primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

body {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
