:root {
  /* Blues */
  --Primary: #001219;
  --Secondary: #005f73;
  --Tertiary: #0a9396;
  --Light: #94d2bd;
  /* Warm */
  --Orange: #ca6702;
  --Red: #ae2012;
  /* Monochromatic */
  --White: #fff;
  --Light-grey: #d4d4d4;
  --Silver-chalice: #ababab;
  --Davys-grey: #555555;
  --Jet: #2a2a2a;
  --Black: #000;
  /* Font-sizes */
  --Headline-1: bold 9.2rem 'Montserrat';
  --Headline-2: bold 6.4rem 'Montserrat';
  --Headline-3: bold 4.8rem 'Montserrat';
  --Headline-4: bold 3.6rem 'Montserrat';
  --Headline-5: normal 2.4rem 'Montserrat';
  --Headline-6: normal 2rem 'Montserrat';
  --Subtitle-1: normal 1.6rem 'Montserrat';
  --Subtitle-2: normal 1.4rem 'Montserrat';
  --Body-1: 1.6rem;
  --Body-2: 1.4rem;
  --BUTTON: 1.4rem;
  --Caption: 1.2rem;
  --OVERLINE: 1.6rem;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--Primary);
  min-width: 32rem;
  min-height: 100%;
}