.card_container{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 80px 0 20px;
    border: none;
    background: #D4D4D4;
 
}
img {
    box-sizing: border-box;
    border-radius: 2rem 0 0 2rem;
    max-width:40%;
    max-height:30%;
    object-fit: cover;
}

.card_data {
    margin: 5px;
}

.title {
    margin: 5px;
}

.year {
    margin: 5px;
    margin-bottom: 15px;
}

.description {
    margin: 5px;
    margin-bottom: 2.5rem;
}